.importInput{
  border-radius: 6px;
  font-size: 0;
  zoom: 1;
}

.commentFooterBtn{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.customContentEditable{
  background-color: #f4f4f5;
  border-radius: var(--semi-border-radius-small);
  margin: 10px 0;
  font-size: 14px;

    .customInput{
       padding: 6px 12px ;
    }


}
.mentionWarp{
  position: static;
}

.memberSelect{
  position: fixed;
  top: 0;
  left: 0;
}